<!doctype html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_component/header :: header(~{::title})}">
    <title>Add Member</title>
</head>
<body th:replace="~{layout :: wrapper(~{::bodyContent}, ~{::breadcrumbs}, ~{::header})}">
<h1 th:fragment="header">Add Member</h1>

<nav aria-label="Breadcrumbs" th:fragment="breadcrumbs">
    <ol class="breadcrumbs">
        <li class="nav-item">
            <a th:href="@{/}" title="Home">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="separator">
            <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li class="nav-item">
            <a th:href="@{/members/list}" title="Members">
                <span>Members</span>
            </a>
        </li>
        <li class="separator">
            <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li class="nav-item active" aria-current="page">
            <span>Add Member</span>
        </li>
    </ol>
</nav>

<div th:fragment="bodyContent" class="body">
    <div class="card">
        <div class="card-header">
            <h2>Member Form</h2>
        </div>
        <form action="#" th:action="@{/members/add}" th:object="${memberForm}" method="post">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" th:field="*{name}" class="form-control"/>
                            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                   class="form-text text-muted">Name Error</small>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" th:field="*{email}" class="form-control"/>
                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                   class="form-text text-muted">Email Error</small>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-action">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>