<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" title="{{ 'component.footer.contact'|trans }}">
                        {{ 'component.footer.contact'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="{{ 'component.footer.help'|trans }}">
                        {{ 'component.footer.help'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" title="{{ 'component.footer.licences'|trans }}">
                        {{ 'component.footer.licences'|trans }}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            {{ 'now'|date('Y') }},
            {{ 'component.footer.madeWith'|trans }}
            <i class="fa-solid fa-heart text-danger"></i>
        </div>
        <div>
            {{ 'component.footer.distributedBy'|trans }}
            <a target="_blank" href="https://oskarwegner.pl/" title="Oskar Wegner">Oskar Wegner</a>.
        </div>
    </div>
</footer>